/* style.css */
body {
    background: linear-gradient(#1c63a1 0%, #15548c 33.33%, #105088 66.67%, #083156 100%) no-repeat;
    background-attachment: fixed; /* Fixa o background */
    background-size: cover; /* Ajusta o background para cobrir a tela */
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

body::before {
    background-image: url("img/code.png"); /* Substitua pelo caminho da sua imagem */
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    content: "";
    display: block;
    position: fixed; /* Fixa a imagem no fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}

.container {
    background-image: url('img/Ruido.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 30px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px; 
}

h4 span:last-child { /* Seleciona o último span dentro do h1 */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #copiar-resultados i {
    font-size: 1.5rem;
    color: white; 
  }

#mensagem-copia {
    display: none; /* Oculta a mensagem inicialmente */
    margin-left: 10px; /* Espaçamento entre o botão e a mensagem */
    color: #ff8b0f; /* Cor da mensagem de sucesso */
    font-weight: bold;
}

.form-control {
    background-color: #e3e3e3;
    color: #007be7;
    border: none;
    padding: 20px 20px;
    border-radius: 6px;
    text-align: left; /* Centraliza o texto horizontalmente */
}

.btn-primary {
    background-color: #ff8b0f;
    border: none;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 6px;
}

.container__logo {
    width: 150px; /* Ajuste conforme necessário */
    height: auto;
    display: block;
    margin: 20px auto;
}

.form-group label {
    font-weight: bold;
    font-size: 1.2rem; /* Ajuste o tamanho da fonte conforme desejado */
}

#btn:hover {
    background-color: #ff8b0f; 
    border-color: #ff9f39; 
}
  
#btn:active {
    background-color: #ca7214; 
    border-color: #ca7214;
}

#btn-reiniciar:hover {
    background-color: #ff8b0f; 
    border-color: #ff9f39; 
}
  
#btn-reiniciar:active {
    background-color: #ca7214; 
    border-color: #ca7214;
}

/* Estilo do Switch */

.switch-container { /* Aplicamos Flexbox apenas à div com a classe switch-container */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
  }

.switch-label {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    margin-left: auto; /* Espaçamento entre o switch e o texto */
}

.switch-label input {
    display: none; /* Esconde o checkbox padrão */
}

.switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Cor do switch desativado */
    border-radius: 25px; /* Borda arredondada */
    transition: 0.3s; /* Transição suave */
}

.switch-slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 17px;
    height: 17px;
    background-color: white; /* Cor da bolinha */
    border-radius: 50%; /* Bolinha redonda */
    transition: 0.3s; /* Transição suave */
}

.switch-label input:checked + .switch-slider {
    background-color: #ff8b0f; /* Cor do switch ativado */
}

.switch-label input:checked + .switch-slider::before {
    transform: translateX(25px); /* Move a bolinha para a direita */
}
  

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}